body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #50aef8;
  margin: 0;
  padding: 2rem;
}

h1 {
  color: #2f234e;
}
/*Navigation predefinida */
header {
    background-color: #2f234e;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #fff;
    
  }

   nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

   nav a {
    color: #bbb;
    text-decoration: none;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
  }
  
  nav a:hover {
    border-color: #ff3c57;
    color: #fff;
  }
  .logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

.zona-juego {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.pregunta {
  background-color: #fff;
  border: 2px dashed #2f234e;
  padding: 1rem;
  border-radius: 10px;
  width: 150px;
  font-size: 1.2rem;
  min-height: 60px;
}

.respuestas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.respuesta {
  background-color: #50aef8;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: grab;
  font-size: 1.1rem;
  user-select: none;
  transition: background 0.3s;
}

.respuesta.usada {
  background-color: #ccc;
  pointer-events: none;
}

.correcto {
  background-color: #4caf50 !important;
  color: white;
}

.incorrecto {
  background-color: #f44336 !important;
  color: white;
}

.botones {
  margin-top: 2rem;
}

button {
  padding: 0.7rem 1.2rem;
  margin: 0 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #2f234e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #44357c;
}
